@import "tailwindcss";

/**
:root {
  --background: #e5e7e6;
  --background-secondary: #dfe2e0;
  --foreground: #1c2321;
  --foreground-secondary: #121715;
  --emphasis: #f26a8d;
  --emphasis-secondary: #f58ea8;
}

@media (prefers-color-scheme: light) {
*/
:root {
  --background: #1c2321;
  --background-secondary: #121715;
  --foreground: #e5e7e6;
  --foreground-secondary: #121715;
  --emphasis: #f26a8d;
  --emphasis-secondary: #f58ea8;
}
/*}*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-secondary: var(--background-secondary);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-emphasis: var(--emphasis);
  --color-emphasis-secondary: var(--emphasis-secondary);
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-newsreader);
}

body,
div#__next {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
