@import "tailwindcss";

:root {
  --background: #e5e7e6;
  --foreground: #1c2321;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-newsreader);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c2321;
    --foreground: #e5e7e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}